<div class="center hero-unit">
  <h1>Welcome to the Honeypot</h1>

  <h2>
    This is the home page for the
    <%= link_to "Honeypot", root_path %>
    application.
  </h2>

  <div class="center"><%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %></div>
</div>
<!--https://github.com/ page has nice template for home page. -->
