<% provide(:title, "How it works")%>
<h1>How it works</h1>
<div class="center">Should be described here how it works. Similar to Taskrabbit.</div>
<div class="center">Short video (not more than 40 sec) should be nice.</div>
