<h1>Listing hires</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hires.each do |hire| %>
      <tr>
        <td><%= link_to 'Show', hire %></td>
        <td><%= link_to 'Edit', edit_hire_path(hire) %></td>
        <td><%= link_to 'Destroy', hire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hire', new_hire_path %>
